body {
    font-family: "Times New Roman", serif;
    margin: 40px 80px;
    line-height: 1.5;
    }

h1 {
    text-align: center;
    margin-bottom: 5px;
    }

.contact {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
    }

.title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;
    text-decoration: underline;
    }

ul {
        margin-top: 5px;
    }

.job {
            font-weight: bold;
    }

.location {
            font-style: italic;
            margin-bottom: 5px;
    }

.education {
            margin-bottom: 20px;
            font-weight: 200px;
    }

.two-column {
    display: flex;
    justify-content: space-between;
    width: 60%;
    }