body{
    background: powderblue;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    color:rgb(255, 0, 221);
    text-align: center;
}

.projects { 
    display:flex; 
    flex-wrap:wrap; 
}

.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(236, 125, 194);
border-radius: 25%;
}

.project img{
width: 300px;
height: 300px;
margin: 10px;
border: 2px solid rgb(245, 62, 205);
display: block;
margin: auto;
}